<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Prolution.tests.CreateRFQTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CreateRFQWithExistingCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateRFQWithNewCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateRFQWithAllFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateRFQWithTwoUnits</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initialie</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
