<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d816d">  <td>22/03/02 23:15:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateRFQTest.CreateRFQWithTwoUnits()[pri:0, instance:com.Prolution.tests.CreateRFQTest@17046283]">CreateRFQWithTwoUnits</td> 
  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="b789e6">  <td>22/03/02 23:15:40</td>   <td>-1673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.SetUp()[pri:0, instance:com.Prolution.tests.CreateRFQTest@17046283]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="b789e6">  <td>22/03/02 23:17:33</td>   <td>110899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.TearDown(org.testng.ITestResult)[pri:0, instance:com.Prolution.tests.CreateRFQTest@17046283]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="b789e6">  <td>22/03/02 23:15:42</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialie()[pri:0, instance:com.Prolution.tests.CreateRFQTest@17046283]">&gt;&gt;initialie</td> 
<td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
</table>
